.pokemonCard 
{
    background-color: rgba(0, 0, 0, 0.319);
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    width: 300px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 3px solid black;
    transition: background-color ease .3s, scale ease .5s;
    cursor: pointer;
}

@media screen and (max-width: 400px) 
{
    .pokemonCard 
    {
        padding: 25px;
        max-width: 200px;
    }

    .types-container, .duoType
    {
        display: block !important;
    }

    .monoType
    {
        width: 89% !important;
    }
}

.pokemonCard:hover 
{
    transition: background-color ease .3s, scale ease .5s;
    background-color: rgba(0, 0, 0, 0.588);
    scale: 1.05;
    border-color: cyan;
    box-shadow:
        0 0 3px cyan,
        0 0 3px cyan,
        0 0 0px cyan,
        0 0 3px cyan;
}

.pokemonCard:active 
{
    transition: background-color ease .3s, scale ease .5s;
    scale: 1;
    background-color: rgba(0, 0, 0, 0.788);
    transition: scale ease .1s;
    border-color: #FFCC01;
    box-shadow:
        0 0 3px #FFCC01,
        0 0 3px #FFCC01,
        0 0 0px #FFCC01,
        0 0 3px #FFCC01;
}

.pokemonName
{
    font-family: 'Pokemon Solid', sans-serif;
    color: #FFCC01;
    font-size: 1.7em;
    letter-spacing: 5px;
    font-weight: 900;
    -webkit-text-stroke: 1px #275299;
    text-shadow: 2px 2px 0px black;
    margin: 0;
}

.duoType
{
    border: 1px solid black;
    background-color: #275299;
    border-radius: 20px;
    min-width: 100px;
    text-align: center;
    padding: 10px;
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    text-shadow: 2px 2px 0px black;
}

.monoType
{
    border: 1px solid black;
    background-color: #275299;
    border-radius: 20px;
    width: 70%;
    text-align: center;
    padding: 10px;
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    text-shadow: 2px 2px 0px black;
}

.pokemonPicture 
{
    transition: ease 1s;
}

.pokemonCard:hover .pokemonPicture 
{
    animation: rotatePokemon .6s linear;
    transition: ease .3s;
    scale: 1.2;
}

.types-container 
{
    display: flex;
    gap: 2em;
    width: 100%;
    justify-content: center;
}

p 
{
    font-size: 1.2em;
}

@keyframes rotatePokemon 
{
    0%, 16.5% 
    {
        transform: rotate(-20deg);
    }

    16.5%, 33% 
    {
        transform: rotate(0deg);
    }

    33%, 49.5% 
    {
        transform: rotate(20deg);
    }

    49.5%, 66% 
    {
        transform: rotate(0deg);
    }

    66%, 82.5% 
    {
        transform: rotate(-20deg);
    }

    82.5%, 100% 
    {
        transform: rotate(0deg);
    }
}