.title 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    font-weight: 900;
    -webkit-text-stroke: 1px #275299;
    text-shadow: 2px 2px 5px black;
    padding: 0;
    margin: 0;
    transition: ease .3s;
}

@media screen and (max-width: 600px) 
{
    .title 
    {
        gap: 10px;
        justify-content: center;
        transition: gap ease .3s;
    }
}

.mainTxt 
{
    margin: 0;
    margin-top: 20px;
    font-family: 'Pokemon Solid', sans-serif;
    color: #FFCC01;
    font-size: 6em;
    letter-spacing: 5px;
}