.title 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    font-weight: 900;
    -webkit-text-stroke: 1px #275299;
    text-shadow: 2px 2px 5px black;
    padding: 0;
    margin: 0;
    transition: ease .3s;
    max-height: 150px;
}

@media screen and (max-width: 700px) 
{
    .title 
    {
        gap: 10px;
        justify-content: center;
        transition: gap ease .3s;
    }

    .pokeballImg
    {
        display: none;
    }
}

@media screen and (max-width: 450px) 
{
    .mainTxt
    {
        font-size: 4em !important;
        max-height: 100px !important;
        position: relative;
        bottom: 40px !important;
    }
}

.mainTxt 
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 !important;
    font-family: 'Pokemon Solid', sans-serif;
    color: #FFCC01;
    font-size: 6em;
    letter-spacing: 5px;
    position: relative;
    bottom: 20px;
}